@value makerGreen from '/src/common/colors.css';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: makerGreen;
  padding: 1rem 0;
}

.title {
  color: white;
  margin: 0;
}

.logoutBtn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
