@value makerGreen, makerWhite from '../../common/colors.css';

.footer {
  background-color: makerGreen;
  width: 100%;
  text-align: center;
}

.title {
  color: makerWhite;
  margin: 0;
  padding: 1rem;
}
